-r requirements.txt

# for running examples locally
uvicorn==0.11.1
python-json-logger==0.1.11

# test dependencies for starlette
requests==2.22.0

# test
pytest==5.3.2
pytest-cov==2.8.1
pytest-sugar==0.9.2
pytest-xdist==1.31.0
pytest-asyncio==0.10.0
codecov

# lint
autoflake
mypy
black
isort
pre-commit-hooks
