-r requirements.txt

# for running examples locally
uvicorn==0.11.1
python-json-logger==0.1.11

# test dependencies for starlette
requests==2.22.0

# test
pytest==5.3.2

# lint
mypy==0.761
black==19.10b0
flake8==3.7.9
