-r requirements.txt

# test
requests==2.22.0
pytest==5.3.2
pytest-cov==2.8.1
pytest-sugar==0.9.2
pytest-xdist==1.31.0
pytest-asyncio==0.10.0
codecov==2.1.10

# docs
sphinx==3.2.1
sphinx_rtd_theme==0.5.0

# lint
mypy==0.812
black==20.8b1
pre-commit==2.7.1
pre-commit-hooks==3.2.0
flake8==3.8.4
pip-tools==6.0.1
