name: Publish to Test PyPi

on:
  release:
    types:
      - prereleased

jobs:
  publish:
    strategy:
      fail-fast: true
      matrix:
        python-version: [ 3.8 ]
        poetry-version: [ 1.3.2 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.0.0
      - name: Set up Python
        uses: actions/setup-python@v5.4.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Build and publish
        run: |
          poetry config repositories.test-pypi https://test.pypi.org/legacy/
          poetry config pypi-token.test-pypi ${{ secrets.TEST_PYPI_RELEASE_STARLETTE_CONTEXT }}
          poetry publish -r test-pypi --build --no-interaction
