name: Publish to PyPi

on:
  release:
    types:
      - released

jobs:
  publish:
    strategy:
      fail-fast: true
      matrix:
        python-version: [ 3.8 ]
        poetry-version: [ 1.3.2 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.1.0
      - name: Set up Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Build and publish
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_RELEASE_STARLETTE_CONTEXT }}
          poetry publish --build --no-interaction
